video#bgvid, video#bgvid2 {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
	
}
body {
    color: white;
}
p, a, h6 {
    color: rgb(175, 33, 8);
    font-weight: 900;
}

#propic {
    max-width: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.card {
border: black;
}

.card-header {
    background-color: rgb(3, 83, 21);
}
.card-body {
    background: rgb(255, 241, 216);
}

.fa {
    font-size: 4em;
    color: #000;
}

.pix {
    max-width: 200px;
}
.inline {
    display: inline;
}